@import "variables";
@import "footer";
@import "menu";
@import "docentes";
@import "contacto";
@import "ubicacion";
/*Menu*/
body{
    background-image: url("../img/fondo.jpg");
}
.container{
    .main_carrusel{
        .so{
            color: black;
        }
    }
}
.disclaimer{
    display: none;
}

/*Logo*/
.container{
    .logo{
        height:100%;
    }
}

/*Galeria (index)*/
/*Clase padre*/
.parrafo{
    font-size:0.5rem;
    text-align: left;
    margin: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.galeria{
    .section{
        padding: 0.1rem;
        height: 21.5rem;
        article{
            height: 100%;
            img{
                height:15rem;
                width:100%;
                &:hover{
                    opacity: 0.9;
                }
            }
            /*Clase hija*/
            .desc{
                @extend .parrafo;
                font-size:1.2rem;
                text-align:justify;
                height: 3rem;
            }
            button{
                width:100%;
                
            }
        }
    }
}

/*Carrusel*/
.main_carrusel{
    .cont_carrusel{
        .carrusel_item{
            .imagen{
                height:30rem;
            }
            h5{
                font-size: 2rem;
            }
        }
       
    }
}


/*Ubicación*/
/*mixins*/

/*Maps*/
$botones:(
    Galeria:#33c5ff,
    Contacto:#4FFF33
);

/*Map-get*/
$styles:(
    alto: 2.3rem,
    borde-redondeado: 0.5rem
);

.btnContacto{
    height: map-get($styles,alto);
    border-radius:map-get($styles,borde-redondeado);
}
.btnGaleria{
    height: map-get($styles,alto);
    border-radius:map-get($styles,borde-redondeado);
}

@each $boton,$color in $botones{
    .btn#{$boton}{
        background-color:$color;
    }
}

@keyframes efecto {
    0% {
        @include sizes(3.9rem,3.9rem);
    }
    20% {
        @include sizes(3.6rem,3.6rem);
    }
    40% {
        @include sizes(3.3rem,3.3rem);
    }
    60% {
        @include sizes(3.5rem,3.5rem);
    }
    80% {
        @include sizes(3.7rem,3.7rem);
    }
    100% {
        @include sizes(3.9rem,3.9rem);
    }
}

@media only screen and (max-width:768px){
    
    .contacto{
        h3{
            text-align: center;
        }
       .contacto__form{
            .caja1,.caja2,.caja3{
                width: 100%;
            }
            .caja1,.caja2{
                input,select{
                    margin: 0.3rem;
                    width: 98%;
                }
            }
            .caja3{
                textarea{
                    margin: 0.3rem;
                    height: 4rem;
                    width: 98%;
                }
                button{
                    height: 3rem;
                    width: 98%;
                    margin: 0.3rem;
                    
                }
            }
        }
    }
   .footer{
        .footer__redes{
            article{
                height: 4.6rem;
                margin-top: 0.3rem;
            }
            height: 8rem;
        }
   } 
}  

@media only screen and (max-width:468px){
    
    .main_carrusel{
        .cont_carrusel{
            .carrusel_item{
                .imagen{
                    height:20rem;
                }
                h5{
                    font-size: 1rem;
                }
            }
           
        }
    }
}

.footer{
    .footer__redes{
        height: 5rem;
    }
}
