/*
####################################################################################
Inicio estilo index
####################################################################################
*/
.logo{
	height:5rem;
}
.section{
	
	border: 2px solid;
	padding: 0.1rem;
}
.section .section__galeria{
	border: 2px solid;
	border-color: blueviolet;
}
.section .section__galeria .logo{
	height:12rem;
	width:100%;
}
.section .section__galeria img{
	height:11rem;
	width:100%;
	text-align:justify;
}
.section .section__galeria img:hover {
    opacity: 0.9;
}

.imagen{
	height:22rem;
}
/*
####################################################################################
Inicio estilo footer
####################################################################################
*/
.footer__section .footer__section__item{
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	align-items:stretch;
	flex-wrap:wrap;
	align-content:center;
	height:100%;
	width:100%;
}
.section .section__galeria .icono{
	height:5rem;
	width:5rem;
}
.footer__section__item__des, .section__galeria__desc{
	font-size:0.8rem;
}
/*
####################################################################################
Fin estilo footer
####################################################################################
*/

.icono{
	height:2rem;
	width:2rem;
}
/*
####################################################################################
Fin estilo index
####################################################################################
*/
.section .section__galeria input{
	height:2rem;
	width:100%;
}
.btn{
	width:100%;
}
.maps{
	height:30rem;
	width:40rem;
}

.menu{
	border:2px solid;
	border-color: brown;
	padding: 0.1rem;
}
header{
	border:1px solid;
	height: 100%;
}
.ul{
	border:1px solid;
	border-color: blueviolet;
	padding: 0.3rem 1rem;
}
