@charset "UTF-8";
/*Menu*/
body {
  background-image: url("../img/fondo.jpg"); }

.container .menu {
  padding: 0.1rem; }
  .container .menu header nav ul {
    padding: 0.3rem 1rem; }

/*Logo*/
.container .logo {
  height: 5rem; }

/*Galeria (index)*/
/*Clase padre*/
.parrafo, .section article .desc, .footer section article .desc {
  font-size: 0.5rem;
  text-align: left;
  margin: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.section {
  padding: 0.1rem; }
  .section article {
    /*Clase hija*/ }
    .section article img {
      height: 11rem;
      width: 100%; }
      .section article img:hover {
        opacity: 0.9; }
    .section article .desc {
      font-size: 0.8rem;
      text-align: justify; }
    .section article button {
      width: 100%; }

/*Carrusel*/
.imagen {
  height: 22rem; }

/*Docentes*/
.main .cont__card__div img {
  height: 12rem; }

/*Footer*/
.footer section article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  height: 100%;
  width: 100%;
  /*clase hija*/ }
  .footer section article .desc {
    font-size: 0.8rem;
    text-align: justify; }
  .footer section article .icono {
    height: 2rem;
    width: 2rem; }
  .footer section article img {
    height: 3.9rem;
    width: 3.9rem;
    padding-top: 0.7rem;
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 3s; }

/*Ubicación*/
/*mixins*/
/*Maps*/
/*Map-get*/
.btnContacto {
  height: 2.3rem;
  border-radius: 0.5rem; }

.btnGaleria {
  height: 2.3rem;
  border-radius: 0.5rem; }

.btnGaleria {
  background-color: #33c5ff; }

.btnContacto {
  background-color: #4FFF33; }

.main section article iframe {
  height: 27rem;
  width: 40rem; }

.main section article img {
  height: 27rem;
  width: 40rem; }

/*Contacto*/
.btnContacto {
  width: 100%; }

@keyframes efecto {
  0% {
    height: 3.9rem;
    width: 3.9rem; }
  20% {
    height: 3.6rem;
    width: 3.6rem; }
  40% {
    height: 3.3rem;
    width: 3.3rem; }
  60% {
    height: 3.5rem;
    width: 3.5rem; }
  80% {
    height: 3.7rem;
    width: 3.7rem; }
  100% {
    height: 3.9rem;
    width: 3.9rem; } }
